body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


/* Date */
.container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#current-date {
    font-size: 24px;
}
