body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


/* Date Section */
.container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#current-date {
    font-size: 24px;
}

/* Adding New Task Section */

.add-task {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
}

.add-task i {
    font-size: 24px;
    margin-right: 10px;
}

#task-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

#task-list {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

